on:
  push:
    branches:
      - master
    tags-ignore:
      - v*

jobs:
  format-and-test:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6.0.0
      with:
        fetch-depth: 0
    - uses: coursier/cache-action@v7.0.0
    - uses: VirtusLab/scala-cli-setup@v1.10.1
    - run: scala-cli --power format --check && scala-cli --power test .
