name: Publish to Maven Central
on:
  push:
    tags:
      - v*

jobs:
  publish:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
    - name: Set up Git repository
      uses: actions/checkout@v6.0.0
      with:
        fetch-depth: 0
    - name: Cache Coursier
      uses: coursier/cache-action@v8.0.0
    - name: Scala-cli setup
      uses: VirtusLab/scala-cli-setup@v1.12.0
    - run: |
        ./.github/workflows/import-gpg.sh
          scala-cli --power publish .
      env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
